@keyframes input-message-animation {
    form {
        opacity: 0;
        transform: translateY(-6px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin input-message() {
    font-size: 12px;
    box-sizing: border-box;
    padding: 2px 13px;
    animation-name: input-message-animation;
    animation-duration: 300ms;
}

.ng-invalid.ng-touched:not([formGroupName]):not([formArrayName]):not([ngModelGroup]):not(form) {
    border: 2px solid red;
}

.ng-valid.ng-dirty:not([formGroupName]):not([formArrayName]):not(form) {
    border: 2px solid goldenrod;
}

.input-error {
    @include input-message();
    color: red;
}